@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap"); /*Inter*/
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap"); /*schoolbel*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: "Inter";
  --nav-color: #a1b5bb;
  --white-color: #ffffff;
  --background-color: #033446;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* header section */
header {
  background-color: #033446;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 34px;
}
a {
  text-decoration: none;
}
.nav_items {
  display: flex;
  list-style: none;
  gap: 50px;
}
.header_items:hover {
  cursor: pointer;
}
.nav_item a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--nav-color);
}
.btn {
  padding: 14px 35px;
  background: #145e76;
  border-radius: 25px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.white {
  color: var(--white-color);
  display: none;
}

/* header section done */
/* About section */
#about {
  padding-top: 10%;
  background-color: var(--background-color);
}
.about_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.about_texts {
  width: 50%;
}
.about_texts .about_text {
  display: inline-block;
  margin-bottom: 56px;
  padding: 16px 30px;
  background: #094556;
  border-radius: 30px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.about_texts h3 {
  margin-bottom: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}
.about_texts p {
  margin-bottom: 50px;
  width: 90%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #849499;
}
.btn1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 16px 35px;
  background: #ffa63a;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.btn2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 16px 35px;
  background: var(--background-color);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.positioned_element {
  margin: 0 auto;
  position: relative;
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
}
.positioned_text h2 {
  padding-top: 62px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
  text-align: center;
}
.positioned_num {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
}
.positioned_item h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
  color: #08546c;
}
.positioned_item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #08546c;
  padding-bottom: 80px;
}
/* about section done */
/* services section */
#service {
  padding-top: 17%;
}
.service_items {
  width: 100%;
  text-align: center;
}
.service_items a {
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #265a6a;
}

.service_items h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 45%;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
}
.service_boxs {
  margin-top: 70px;
  display: flex;
  gap: 26px;
}
.service_box {
  width: 30%;
  background: #ffffff;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}
.service_img {
  margin-left: 10%;
  width: 10%;
  background: #f5fbfc;
}
.service_text {
  width: 80%;
  margin-left: 10%;
}
.service_text h5 {
  margin-top: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0f1221;
}
.service_text p {
  margin-bottom: 34px;
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #696969;
}
/* services section done */
/* Portfolio section */
#portfolio {
  padding-bottom: 5%;
}
.portfolio_texts {
  padding-top: 10%;
  width: 100%;
  text-align: center;
}
.portfolio_texts h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: #08546c;
}
.portfolio_texts p {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
}
.portfolio_boxs {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
.portfolio_box {
  width: 30%;
}
.portfolio_img img {
  width: 90%;
}
.portfolio_box_texts {
  width: 90%;
}
.portfolio_box_texts h3 {
  margin-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #08546c;
}
.portfolio_box_texts p {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}
.portfolio_box_texts a {
  display: inline-block;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #08546c;
}
.portfolio_box_texts h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  color: #ffa800;
}
/* Portfolio section done */
/* blog section */
#blog {
  background-color: #162d44;
}
.blog_items {
  padding-top: 5%;
  display: flex;
  align-items: center;
  gap: 100px;
}
.pretty {
  width: 50%;
}
.blog_texts {
  width: 70%;
}
.blog_texts p {
  width: 100%;
  margin-bottom: 33px;
  margin-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.blog_texts a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #aabfc6;
}
/* blog section done */

/* footer section */
#footer {
  padding-top: 5%;
  padding-bottom: 5%;
}
.footer_items {
  display: flex;
  justify-content: space-between;
}
.footer_item img {
  margin-bottom: 21px;
}

.social {
  margin-top: 50px;
  margin-left: 9px;
}
.footer_item_href h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}
.items {
  list-style: none;
}
.item a {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}
/* footer section done */
/* Responsive part */
@media only screen and (max-width: 1161px) {
  .nav_items {
    display: none;
  }
  .btn {
    display: none;
  }
  .white {
    display: block;
    margin-right: 14%;
  }
  .about_items {
    padding-top: 3%;
    flex-direction: column;
    justify-content: center;
  }
  .footer_items {
    flex-direction: column;
    margin-left: 4%;
  }
  .footer_item_href {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1098px) {
  .service_items {
    padding-top: 10%;
  }
  .blog_items {
    flex-direction: column;
  }
}

@media only screen and (max-width: 980px) {
  .about_items {
    padding-top: 5%;
  }
  .about_texts {
    width: 80%;
  }
  .about_texts h3 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 900px) {
  .service_items {
    width: 100%;
    text-align: center;
  }

  .service_items h3 {
    font-size: 40px;
    width: 80%;
    text-align: center;
  }
  .service_boxs {
    flex-direction: column;
    align-items: center;
  }
  .service_img {
    margin-top: 3%;
  }
  .service_box {
    width: 70%;
  }
}
@media only screen and (max-width: 850px) {
  .portfolio_boxs {
    flex-direction: column;
    align-items: center;
  }
  .portfolio_box {
    width: 70%;
    margin-top: 4%;
  }
}
@media only screen and (max-width: 723px) {
  .about_texts {
    margin-top: 10%;
  }
  .portfolio_texts h2 {
    font-size: 40px;
  }
  .portfolio_texts p {
    width: 60%;
  }
}
@media only screen and (max-width: 650px) {
  .positioned_num {
    flex-direction: column;
    width: 100%;
  }
  .positioned_item {
    width: 100%;
    text-align: center;
  }
  .service_items {
    margin-top: 155%;
  }
  .portfolio_box_texts h2 {
    font-size: 40px;
  }
  .portfolio_box_texts p {
    width: 80%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 625px) {
  .about_texts h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .busines2 {
    width: 70%;
  }
  .about_texts h3 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .about_texts h3 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 490px) {
  .about_texts h3 {
    font-size: 43px;
  }
}
@media only screen and (max-width: 480px) {
  .about_texts h3 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 470px) {
  .about_texts h3 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 460px) {
  .about_texts h3 {
    font-size: 38px;
  }
  .service_items {
    margin-top: 160%;
    font-size: 35px;
  }
}

@media only screen and (max-width: 400px) {
  .about_text {
    margin-top: 19%;
  }
  .about_texts h3 {
    font-size: 35px;
  }

  .about_text {
    margin-top: 20%;
  }
  .busines2 {
    width: 60%;
  }
  .service_items {
    margin-top: 180%;
    font-size: 30px;
  }
}

@media only screen and (max-width: 395px) {
  .about_texts h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 375px) {
  .service_items {
    margin-top: 250%;
    font-size: 25px;
  }
  .portfolio_box_texts p {
    width: 100%;
  }
}

@media only screen and (max-width: 365px) {
}
@media only screen and (max-width: 355px) {
}
